:root {
  font-size: 13px;

  --white: rgba(255, 255, 255, 1);

  --brand-primary: #1e202c;
  --brand-primary-text-color: #fff;

  --brand-primary-lighten: #323544;
  --brand-primary-lighten-text-color: #a1a5ba;

  --brand-danger: #ea5a5a;
  --brand-danger-text-color: #fef8f8;

}
