@import "../../styles/vars.css";

.App {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
}

aside {
  width: 250px;
}

.AppMain {
  width: calc(100% - 250px);
}

main {
  padding: 16px;
}
