@import "styles/bootstrap_vars.scss";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets.scss";
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
